<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!--  Константы  -->
    <util:properties id="configuration">
        <prop key="testFileName">questions.csv</prop>
    </util:properties>

    <!--  Конфигурации  -->
    <bean id="appProperties" class="ru.otus.hw.config.AppProperties">
        <constructor-arg index="0" value="#{configuration['testFileName']}"/>
    </bean>

    <!--  Сервисы  -->
    <bean id="ioService" class="ru.otus.hw.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="testService" class="ru.otus.hw.service.TestServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="testRunnerService" class="ru.otus.hw.service.TestRunnerServiceImpl">
        <constructor-arg name="testService" ref="testService"/>
    </bean>

    <!--  DAO  -->
    <bean id="questionDao" class="ru.otus.hw.dao.CsvQuestionDao">
        <constructor-arg ref="appProperties"/>
    </bean>

</beans>
