<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        a {
            text-decoration: none;
        }

        .authors {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .authors tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .authors td:last-child, td:first-child {
            width: auto;
        }

        span {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h3>Authors:</h3>

<table class="authors">
    <thead>
    <tr>
        <th>ФИО</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}" th:object="${author}">
        <td th:text="*{fullName}"></td>
        <td>
            <a href="author.html" th:href="@{/author/{id}(id=${author.id})}">Открыть</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<span>
    <a href="../bookPages/books.html" th:href="@{/book}"><button type="button">Books</button></a>
</span>
</body>
</html>
